@import url(https://fonts.google.com/specimen/Montserrat);
@import url(https://fonts.google.com/specimen/Fraunces);
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,600;1,9..144,100&family=Montserrat:wght@100&display=swap');
*{
    margin: 0px;
    padding: 0px;
}
body{
    background: hsl(30, 38%, 92%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}
.box{
    width: 500px;
    height: 400px;
    background: white;
    padding: 1px;
    border-radius: 10px;
    display: flex;

    
}

.box img {
    width: 250px;
    height: 100%;
    border-radius: 10px 0 0 10px;
}
.text{
    display: flex;
    flex-direction: column;
    gap: 15px;
    gap: 15px;
    padding: 10px;
    margin: 11px;
    width: 250px;
    
    
}

.text p {
    font-size: 12px;
    color:  hsl(228, 12%, 48%);
    font-family: "Montserrat";
    font-weight: 700;
    word-spacing: 3px;
    letter-spacing: 0px;
    
    
}
.text h1{
    font-family: 'Fraunces', serif;
    font-weight: 500;
    font-size: 25px;
    
}
.text h2{
    color: hsl(228, 12%, 48%);
    font-family: "Montserrat Extralight";
    font-size: 12px;
    letter-spacing: 9px;
    
    

}
.text p1{
    font-size: 25px;
    color: hsl(158, 36%, 37%);
    font-weight: bold;
    font-family: 'Fraunces', serif;
    

}
.text p3{
    font-size: 13px;
    color: hsl(228, 12%, 48%);
    font-family: "Montserrat Extralight";
    font-weight: 0;

}
button {
        background-color: hsl(158, 36%, 37%);
        border: none;
        color: hsl(0, 0%, 100%);
        padding: 8px;
        text-align: center;
        font-size: 16px;
        border-radius: 5px 5px 5px 5px;
        word-spacing: 2px;
        cursor: pointer;
    
    }
      
    button:hover {
        background: #700c1f; 
      }
      
