@import url(https://fonts.google.com/specimen/Montserrat);
@import url(https://fonts.google.com/specimen/Fraunces);
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,600;1,9..144,100&family=Montserrat:wght@100&display=swap');
*{
    margin: 0px;
    padding: 0px;
}
body{
    background: hsl(30, 38%, 92%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}
.box{
    width: 550px;
    height: 350px;
    background: white;
    padding: 1px;
    border-radius: 10px;
    display: flex;

    
}

.box img {
    width: 250px;
    height: 100%;
    border-radius: 10px 0 0 10px;
}
.text{
    display: flex;
    flex-direction: column;
    gap: 15px;
    gap: 15px;
    padding: 19px;
    margin: 11px;
    
    
}

.text p {
    font-size: 14px;
    color: hsl(158, 36%, 37%);
    font-family: "Montserrat";
    font-weight: 700;
}
.text h1{
    font-family: 'Fraunces', serif;
    font-weight: 500;
    
}
.text h2{
    color: hsl(228, 12%, 48%);
    font-family: "Montserrat Extralight";
    font-size: 12px;
    letter-spacing: 9px;
}